@*@page "schools"
@page "/calc/"*@
@page "/schools/sop" 
@model RazorPages_OverviewSample.Pages.Modul005.RouteTemplatesSampleModel
@{
}

<p>Routing  Beispiel 1- Umleitung12334234</p>

<p>Aufruf ist -> localhost:12345/calc/</p>