@page
@model RazorPages_OverviewSample.Pages.Modul005.RouteDataSourceModel
@{
}


<form method="post">
    <input name="eins" /><br />
    <input name="zwei" /><br />
    <button type="submit" asp-page-handler="plus">+</button>
    <button type="submit" asp-page-handler="minus">-</button>

    @Model.Ergebnis
</form>