@page
@model RazorPages_OverviewSample.Pages.Modul006.CookieSampleModel
@{
}

<form method="post">
    <input type="text" asp-for="EmailAddress" />
    <span asp-validation-for="EmailAddress"></span><br />
    <button>Submit</button>
</form>