@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>2234234234Use this page to detail your site's privacy policy.</p>

<p>Hallo kommt dieser Tasdfasdfasdfasfdasdfasdfext oben an</p>


<div class="col-md-3">
    @await Component.InvokeAsync("Users")
</div>
